:root{
    --red: #fc5185;
    --gray: #364f6b;
    --light-white: #f0f0f0;
    --blue: #43dde6;
    --secondaryblue:#5185fc;
    --secondaryred: #ff2264;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-white);
    font-family: 'Righteous', cursive;
}

h1,h2{
    color: var(--secondaryblue);
}

h1{
font-size: 48px;
text-align: center;
padding: 20px 32px;
}

h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.buttons{
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Righteous', cursive;
    font-size: 32px;
    margin-left: 32px;
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--red);
    cursor: pointer;
}
button:hover{
    background: var(--secondaryred);
}

.container{
    padding: 48px;
    text-align: center;
}

.result{
    font-size: 64px;
    padding: 48px 0;
}